.process {
	text-align: center;
	padding-top: clamp(1.25rem, 0.25rem + 5vw, 6.25rem);
	padding-bottom: clamp(1.25rem, 0.25rem + 5vw, 6.25rem);
	&__title {
		margin-bottom: clamp(2.063rem, 1.475rem + 2.94vw, 6rem);
	}
	img {
		width: 100%;
		object-fit: cover;
	}
}
