@import '../../styles/variables.scss';

.aboutUs {
	padding: clamp(3.125rem, 1.938rem + 5.94vw, 9.063rem) 0;
	position: relative;
	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: -100px;
		width: 391px;
		height: 244px;
		background-image: url('/icons/AboutUs/decor2.svg');
		background-repeat: no-repeat;
	}
	&::before {
		content: '';
		position: absolute;
		right: -300px;
		bottom: 0;
		width: 391px;
		height: 244px;
		background-image: url('/icons/AboutUs/decor1.svg');
		background-repeat: no-repeat;
	}
	&__title {
		margin-bottom: clamp(1.125rem, 0.5rem + 3.13vw, 4.25rem);
	}
	&__swiper-text {
		max-width: 712px;
		font-size: clamp(0.75rem, 0.5rem + 1.25vw, 2rem);
		line-height: 119%;
		flex: 1;
		color: $black;
	}

	&__swiper-img {
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__swiper-buttons {
		display: flex;
		align-items: center;
		gap: 30px;
	}
}
.swiper-wrapper .aboutUs__swiper-wrap {
	display: flex;
	align-items: center;
	gap: 154px;
}
