@import '../../styles/variables.scss';

.advantages {
	padding-bottom: clamp(3.125rem, 1.875rem + 6.25vw, 9.375rem);
	&__title {
		margin-bottom: clamp(1rem, -0.35rem + 6.75vw, 7.75rem);
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
		gap: 20px;
	}
}

.advantage {
	&__item {
		max-width: 341px;
	}

	&__item-title {
		font-weight: 600;
		font-size: clamp(0.875rem, 0.55rem + 1.63vw, 2.5rem);
		position: relative;
		z-index: 1;
		padding-left: 60px;
		&::before {
			content: '';
			z-index: -1;
			position: absolute;
			top: -45px;
			left: 0;
			width: 203px;
			height: 111px;
			background-image: url('/icons/Advantages/bg-item.svg');
			background-repeat: no-repeat;
		}

		color: $black;
		margin-bottom: clamp(0.75rem, 0.275rem + 2.38vw, 3.125rem);
	}

	&__item-subtitle {
		font-size: clamp(0.75rem, 0.6rem + 0.75vw, 1.5rem);

		color: $black;
	}
}
