@import '../../styles/variables.scss';

.advantages {
	padding-bottom: clamp(1.25rem, 0.25rem + 5vw, 6.25rem);
	&__title {
		margin-bottom: 124px;
		@media (max-width: 1440px) {
			margin-bottom: 100px;
		}
		@media (max-width: 875px) {
			margin-bottom: 70px;
		}
		@media (max-width: 475px) {
			margin-bottom: 50px;
		}
	}

	&__list {
		--gap: 30px;
		--elements: 4;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: var(--gap);
		@media (max-width: 875px) {
			--elements: 2;
			--gap: 80px;
		}
		@media (max-width: 475px) {
			--elements: 1;
			--gap: 50px;
		}
	}
}

.advantage {
	&__item {
		width: calc(
			(100% - (var(--elements) - 1) * var(--gap)) / (var(--elements))
		);
	}

	&__item-title {
		font-weight: 600;
		font-size: 40px;
		position: relative;
		z-index: 1;
		padding-left: 25px;
		&::before {
			content: '';
			z-index: -1;
			position: absolute;
			top: -50%;

			left: 0;
			width: clamp(5.813rem, 4.425rem + 6.94vw, 12.75rem);

			height: clamp(3.438rem, 3.2rem + 1.19vw, 4.625rem);
			background-image: url('/icons/Advantages/bg-item.svg');
			background-size: 100%;
			background-repeat: no-repeat;
			@media (max-width: 1600px) {
				top: -100%;
			}
		}

		@media (max-width: 1600px) {
			font-size: 21px;
		}

		color: $black;
		margin-bottom: clamp(0.95rem, 0.575rem + 2.38vw, 3.325rem);
		// margin-bottom: 63px;
	}

	&__item-subtitle {
		font-size: 24px;
		@media (max-width: 1600px) {
			font-size: 17px;
		}
		@media (max-width: 875px) {
			font-size: 15px;
		}

		color: $black;
	}
}
