@import './variables.scss';
@import './nullstyle.scss';

body {
	background-color: $white;
	scroll-behavior: smooth;
	font-weight: 400;
	font-size: 14px;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
.title {
	font-weight: 600;
	font-size: clamp(1.925rem, 1.15rem + 2.38vw, 4rem);
	letter-spacing: 0.04em;

	text-align: center;
}

.content {
	max-width: 1732px;
	margin: auto;
	padding: 0 30px;
	@media (max-width: 475px) {
		padding: 0 20px;
	}
}
