@import '../../styles/variables.scss';

.licenses {
	background-color: #bfdf72;
	padding: clamp(1.25rem, 0.25rem + 5vw, 6.25rem) 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	// overflow: hidden;
	@media (max-width: 768px) {
		padding: 70px 15px;
	}
	@media (max-width: 475px) {
		padding: 20px 0;
	}
	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		width: 455px;
		height: 667px;
		background-image: url('/icons/Licenses/decor2.svg');
		background-repeat: no-repeat;
		@media (max-width: 1600px) {
			left: -120px;
		}
		@media (max-width: 475px) {
			height: 0;
			width: 0;
		}
	}
	&::after {
		content: '';
		position: absolute;
		right: -181px;
		top: 50%;
		transform: translateY(-50%);
		width: 455px;
		height: 636px;
		background-image: url('/icons/Licenses/decor1.svg');
		background-repeat: no-repeat;
		@media (max-width: 1600px) {
			right: -309px;
		}
		@media (max-width: 475px) {
			height: 0;
			width: 0;
		}
	}

	&__title {
		margin-bottom: clamp(0.5rem, 0.038rem + 2.31vw, 2.813rem);
	}
	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__subtitle {
		text-align: center;
		font-size: clamp(1.1rem, 0.625rem + 1.56vw, 2.5rem);
		margin-bottom: clamp(1.063rem, 0.275rem + 3.94vw, 5rem);
	}

	&__form {
		display: flex;
		flex-direction: column;
		gap: clamp(0.875rem, 0.55rem + 1.63vw, 2.5rem);
		border-radius: 30px;
		width: 100%;
		max-width: 1300px;
		padding: 40px 45px 70px 45px;
		position: relative;
		z-index: 10;
		margin: 0 25px;
		background-color: #fff;
		@media (max-width: 1600px) {
			padding: 27px 50px;
			max-width: 900px;
		}
		@media (max-width: 768px) {
			padding: 20px 40px;
		}
		@media (max-width: 475px) {
			padding: 15px 20px;
			border-radius: 0%;
		}
	}

	&__form-title {
		text-align: center;
		font-size: clamp(1.1rem, 0.625rem + 1.56vw, 2.5rem);
	}

	&__form-buttons {
		display: flex;
		align-items: center;
		button {
			width: 100%;
		}
		gap: 39px;
		@media (max-width: 768px) {
			gap: 10px;

			button {
				font-size: 14px;
			}
		}
		@media (max-width: 500px) {
			flex-direction: column;
		}
	}
}
.licenses__form-input {
	position: relative;
}
