@import '../../../styles/variables.scss';

.input {
	// font-size: clamp(0.75rem, 0.5rem + 1.25vw, 2rem);
	font-size: clamp(1.1rem, 0.825rem + 0.56vw, 1.5rem);
	color: $black;
	// padding: clamp(0.625rem, 0.325rem + 1.5vw, 2.125rem);
	padding: clamp(0.625rem, 0.563rem + 0.31vw, 0.938rem);
	width: 100%;
	background-color: $white;
	border-radius: 30px;
	border: 3px solid $borderGray;
	&:focus {
		border: 3px solid $green;
	}

	@media (max-width: 375px) {
		border-radius: 12px;
	}
}

.input__waste {
	font-size: clamp(1.1rem, 0.825rem + 0.56vw, 1.5rem);
	width: 100%;
	background-color: $white;
	border-radius: 30px;
	max-height: 60px;
	padding: clamp(0.625rem, 0.563rem + 0.31vw, 0.938rem);
	border: 3px solid $borderGray;
	&:focus {
		border: 3px solid $green;
	}
	@media (max-width: 375px) {
		border-radius: 12px;
	}
}
.input-wrapper {
	position: relative;
	display: inline-block;
	width: 100%;

	&.with-unit {
		input {
			padding-right: 47px;
		}

		.unit {
			position: absolute;
			right: 25px;
			top: 50%;
			transform: translateY(-50%);
			font-size: clamp(1.1rem, 0.825rem + 0.56vw, 1.5rem);
			color: $black;
		}
	}
}
