@import '../../../styles/variables.scss';

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	line-height: 125%;
	letter-spacing: 0.04em;
	border-radius: 15px;
	&:disabled {
		opacity: 0.6;
	}
}

.button__contact-us {
	font-weight: 600;
	font-size: 20px;
	color: $green;
	padding: 10px 30px;
	background-color: $white;
	border: 1px solid transparent;
	transition: all 0.2s ease-in;
	&:hover {
		border: 1px solid $white;
		color: $white;
		background-color: transparent;
	}
	@media (max-width: 1023px) {
		display: none;
	}
	@media (max-width: 1600px) {
		padding: 12px 20px;
		font-size: 20px;
	}
	@media (max-width: 768px) {
		padding: 10px 15px;
		font-size: 17px;
	}
}

.button__applications {
	font-weight: 600;
	font-size: 24px;
	padding: 20px 30px;
	color: $white;
	background-color: $green;
	transition: background-color 0.2s ease-in-out;

	&:hover {
		background-color: $greenButtonHover;
	}
	@media (max-width: 1600px) {
		padding: 12px 20px;
		font-size: 20px;
	}
	@media (max-width: 768px) {
		padding: 10px 15px;
		font-size: 17px;
	}
}
