@import '../../../styles/variables.scss';

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	line-height: 125%;
	letter-spacing: 0.04em;
	border-radius: 15px;
}

.button__contact-us {
	font-weight: 600;
	font-size: 20px;
	color: $green;
	padding: 10px 30px;
	background-color: $white;
	border: 1px solid transparent;
	transition: all 0.2s ease-in;
	&:hover {
		border: 1px solid $white;
		color: $white;
		background-color: transparent;
	}
}

.button__applications {
	font-weight: 600;
	font-size: 32px;
	padding: 30px;
	color: $white;
	background-color: $green;
	transition: background-color 0.2s ease-in-out;
	&:hover {
		background-color: $greenButtonHover;
	}
}

.button__add {
	font-weight: 700;
	font-size: 32px;
	line-height: 119%;
	color: #161616;
	padding: clamp(0.375rem, 0.075rem + 1.5vw, 1.875rem)
		clamp(0.781rem, 0.063rem + 3.59vw, 4.375rem);
	border: 3px solid $borderGray;
	border-radius: 20px;
	background-color: $gray;
	transition: background-color 0.2s ease-in-out;
	&:hover {
		background-color: #d9d9d9;
	}
}
