@import '../../styles/variables.scss';

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: $black;
	padding: 30px;
	&__politics {
		font-weight: 400;
		font-size: clamp(0.625rem, 0.45rem + 0.88vw, 1.5rem);
		color: $white;
	}

	&__company {
		font-weight: 600;
		text-transform: uppercase;
		font-size: clamp(0.75rem, 0.5rem + 1.25vw, 2rem);
		letter-spacing: 0.04em;
		color: $white;
	}
}
