@import '../../styles/variables.scss';

.contacts {
	padding-top: clamp(1.25rem, 0.25rem + 5vw, 6.25rem);
	padding-bottom: clamp(1.25rem, 0.25rem + 5vw, 6.25rem);
	background: linear-gradient(
			180deg,
			rgba(38, 58, 8, 0.77) 0%,
			rgba(38, 58, 8, 0.77) 100%
		),
		url('/images/Contacts/bg.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: $white;
	&__title {
		color: $white;
		margin-bottom: clamp(2.063rem, 1.475rem + 2.94vw, 6rem);
	}

	&__list {
		display: flex;
		justify-content: center;
		gap: 100px;
		flex-wrap: wrap;
		padding: 0 100px;
		@media (max-width: 1600px) {
			padding: 0 20px;
		}
		@media (max-width: 875px) {
			gap: 50px;
		}
		@media (max-width: 475px) {
			gap: 30px;
		}
		li {
			max-width: 400px;
			display: flex;
			flex-direction: column;
			text-align: center;
			// justify-content: center;
			align-items: center;
			gap: 29px;

			@media (max-width: 1600px) {
				max-width: 235px;
			}
			@media (max-width: 475px) {
				gap: 10px;
			}
		}
	}

	&__list-title {
		font-weight: 600;
		white-space: nowrap;
		font-size: clamp(1.438rem, 1.225rem + 1.06vw, 2.5rem);
	}

	&__list-text {
		font-weight: 500;
		font-size: clamp(0.875rem, 0.65rem + 1.13vw, 2rem);
		text-align: center;
		line-height: 1.4;
	}

	&__list-socials {
		display: flex;
		flex-direction: column;
		gap: 10px;
		a {
			color: inherit;
			font-weight: 500;
			font-size: clamp(0.875rem, 0.65rem + 1.13vw, 2rem);
			text-align: center;
		}
	}
}
